<!DOCTYPE html>
<head>
    <title>D&E</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
    <nav>
        <div class="na 4v-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;Devent</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/prfile" class="top">Profile</a></li>
                <li><a href="/new_room" class="top">Sign up room</a></li>
                <li><a href="/main">Log out</a></li>
            </ul>
        </div>
    </nav>
    <form method="post">
        {% csrf_token %}
        <p>&shy;&nbsp;&nbsp;</p>
        <div align="center">
            <div class="input-field col s6">
              &nbsp;<input id="room_name" name="room_name" type="text" class="validate">
              <label for="room_name">Name of room</label>
            </div>
            <div class="input-field col s6">
              &nbsp;<input id="discription" name="discription" type="text" class="validate">
              <label for="discription">Discription</label>
            </div>
            
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;<input class="waves-effect waves-light btn" type="submit">
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $('.chips-autocomplete').material_chip({
            autocompleteOptions: {
              data: {},
              limit: Infinity,
              minLength: 1000
            }
          });
    </script>
</body>
</html>