<!DOCTYPE html>
<head>
    <title>Devents</title>
    <meta charset="UTF-81">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="#0277bd light-blue darken-2">
        <div class="nav-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;DEVENT</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/accounts/profile" class="top">Профиль</a></li>
                <li><a href="/accounts/sign_up_room" class="top">Создать комнату</a></li>
                <li><a href="/login">Выйти</a></li>
            </ul>
        </div>
    </nav>
    <form method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col s12 m1000">
          <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s6">
                      &nbsp;<input id="first_name" name="first_name" type="text" class="validate" value="{{user.first_name}}">
                        <label for="first_name">Имя</label>
                    </div>
                    <div class="input-field col s6">
                      &nbsp;<input id="last_name" name="last_name" type="text" class="validate" value="{{user.last_name}}">
                      <label for="last_name">Фамилия</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                      &nbsp;<input id="VK" name="VK" type="text" class="validate">
                        <label for="first_name">Страница ВКонтакте</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                      &nbsp;<input id="password" name="password" type="password" class="validate">
                      <label for="password">Новый пароль</label>
                    </div>
                    <div class="input-field col s6">
                      &nbsp;<input id="repassword" name="repassword" type="password" class="validate">
                      <label for="repassword">Повторите новый пароль</label>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
        <h4>{{error}}</h4>
        <div class="row">
        <div class="col s12 m1000">
          <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content">
                <button class="btn green" type="submit">Сохранить изменения</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script>
        $(".dropdown-button").dropdown();
    </script>
    <script>
        $(".logout-from").on("click", function(){
            var $this=$(this)

    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
