<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>Devents</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="#0277bd light-blue darken-2">
        <div class="nav-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;DEVENT</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/accounts/room/{{ room.id }}">В комнату</a></li>
                <li><a href="/accounts/profile" class="top">Профиль</a></li>
                <li><a href="/accounts/sign_up_room" class="top">Создать комнату</a></li>
                <li><a href="/login">Выйти</a></li>
            </ul>
        </div>
    </nav>
    <form method="post" id="edit_room">
            {% csrf_token %}
     <div class="row">
        <div class="col s12 m1000">
          <div class="card">
            <div class="card-image">
              <img src="{{ image_path }}">
            </div>
            <div class="card-content">
                <div class="row">
                    <div align="center">
                        <div class="input-field col s6">
                          &nbsp;<input id="room_name" name="room_name" type="text" class="validate" value="{{room.name}}">
                          <label for="room_name">Название комнаты</label>
                        </div>
                        <div class="input-field col s6">
                            &nbsp;<input id="cmt" name="cmt" type="text" class="materialize-textarea validate" value="{{room.cmt}}">
                          <label for="cmt">Описание</label>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
    <div class="col s12 m1000">
      <div class="card">
        <div class="card-image">
        </div>
        <div class="card-content">
            <button class="btn green" type="submit">Сохранить изменения</button>
            <input type="hidden" name="form_type" value="edit_room">
            <a href="#delete_room_modal" class="right btn-floating btn-large waves-effect waves-light red modal-trigger model-open"><i class="material-icons">delete</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            &nbsp;
        </div>
      </div>
    </div>
  </div>
    </form>
        <div id="delete_room_modal" class="modal">
            <form method="post" id="delete_room">
                {% csrf_token %}
                <div class="modal-content">
                    <span>Вы уверены, что хотите удалить комнату?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="waves-effect waves-light green btn modal-close">Нет</button>
                    <button class="waves-effect waves-light red btn modal-close" type="submit">Да</button>
                    <input type="hidden" name="form_type" value="delete_room">
                </div>
            </form>
        </div>
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
         $(document).ready(function(){
            $('.collapsible').collapsible();
          });
    </script>
    <script>
         $(document).ready(function(){
                $('.modal').modal();
          });
    </script>
    <script>
        $('.fixed-action-btn').openFAB();
        $('.fixed-action-btn').closeFAB();
        $('.fixed-action-btn.toolbar').openToolbar();
        $('.fixed-action-btn.toolbar').closeToolbar()
    </script>
<script>
        $(".dropdown-button").dropdown();
        $('.delete-item').on('click', function(){
            var $this = $(this);
            var _id = $this.parents('li.member').data('id');
            $.ajax({
                url: '/URL/admin/delete/' + _id,
                success: function(res){
                    console.log(res);
                    if (res == 1){
                        $this.parents('li.member').remove()
                    }else{
                        alert('ERROR');
                    }
                }
            })
        })
    </script>
</body>
</html>