
<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>Devents</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="#0277bd light-blue darken-2">
        <div class="nav-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;DEVENT</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/accounts/room/{{ event.room.id }}">В комнату</a></li>
                <li><a href="/accounts/profile" class="top">Профиль</a></li>
                <li><a href="/accounts/sign_up_room" class="top">Создать комнату</a></li>
                <li><a href="/login">Выйти</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
         {% csrf_token %}
        <div class="col s12 m200">
          <div class="card">
            <div class="card-image">
              <img src="{{image_path}}">
            </div>
            <div class="card-content">
              <h3>{{ event.name }}</h3>
                <span>{{ event.cmt }}</span>
            </div>
            <div class="card-action">
                {% if admin == 1 %}
                    <a href="/accounts/edit_event/{{event.id}}/"><i class="material-icons center">edit</i></a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    <table>
      <tr>
          <th>
              <div class="row">
                <div class="col s12 m210">
                  <div class="card">
                    <div class="card-content">
                        {% if event.is_task %}
                            <p><font color="#808080" size="2">крайний срок сдачи:</font></p>
                        {% else %}
                            <p><font color="#808080" size="2">Дата и время мероприятия:</font></p>
                        {% endif %}
                        <a><i class="material-icons">alarm</i><font size="5">{{ event.date }}</font></a>
                    </div>
                  </div>
                </div>
              </div>
              {% if admin %}
                <div class="card">
                    <div class="card-content">
                        <form method="post" id="add">
                            {% csrf_token %}
                            <div class="input-field col s6 m6">
                                <select multiple name="new_members">
                                    {% for member in new_members%}
                                        &nbsp;&nbsp;&nbsp;<option selected="true" value="{{member.id}}">{{member}}</option>
                                    {%endfor%}
                                </select>
                                &nbsp;&nbsp;&nbsp;<label>Добавить пользователей из комнаты</label>
                              </div>
                            <input type="submit" class="waves-effect waves-light btn green" value="Добавить"><font color="white">{{error}}</font>
                            <input type="hidden" name="form_type" value="add">
                        </form>
                    </div>
                </div>
            {% endif %}
          </th>
        <th>
            <div class="row">
                <div class="col s20 m12">
                  <div class="card blue whiten-10">
                    <div class="card-content white-text">
                        {% if event.is_task == 0 %}
                            <span class="card-title">Участники</span>
                        {% else %}
                            <span class="card-title">Должники</span>
                        {% endif %}
                    </div>
                    <div class="collection">
                        {% for member in members%}
                            <a href="/accounts/member/{{member.id}}" class="collection-item">{{member}}</a>
                        {% endfor %}
                      </div>
                  </div>
                </div>
            </div>
        </th>
      </tr>
    </table>
    <div align="right">
    {% if not event.is_task %}
        <a href="#leave_modal" class="btn-floating btn-large waves-effect waves-light red  modal-trigger model-open tooltipped" data-position="top" data-delay="10" data-tooltip="Выйти из мероприятия"><i class="material-icons">remove_circle_outline</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}
    </div>
    <div id="leave_modal" class="modal">
                <form method="post" id="leave_event">
                    {% csrf_token %}
                    <div class="modal-content">
                        <span>Вы уверены, что хотите выйти из мероприятия?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="waves-effect waves-light green btn modal-close">Нет</button>
                        <button type="submit" class="waves-effect waves-light red btn modal-close">Да</button>
                        <input type="hidden" name="form_type" value="leave_event">
                    </div>
                </form>
        </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
         $(document).ready(function(){
                $('.modal').modal();
          });
        $('#modal').modal('open');
        $('#modal').modal('close');
    </script>
    <script>
        $(document).ready(function() {
        $('select').material_select();
        });
    </script>
    <script>
        $(".dropdown-button").dropdown();
    </script>
</body>
</html>