<!DOCTYPE html>
<head>
    <title>Devents</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="#1565c0 blue darken-2">
        <div class="nav-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;Devent</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Вход</a></li>
                <li><a href="/sign_up">Регистрация</a></li>
            </ul>
        </div>
    </nav>
    <div class="center">
        <br><br><br><br><br>
        <div class="row">
            <div class="col s10 m5">
                <div class="card small">
                    <div class="card-content">
                      <form method="post">
                            {% csrf_token %}

                            {{form.as_p}}
                            &nbsp;&nbsp;&nbsp;<input class="waves-effect waves-light btn yellow" type="submit" value="Войти">
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <h2><font color="red">{{error}}</font></h2>
    <style>
       .center {
        width: 1050px;
        position: relative;
        left: 430px;
       }
      </style>
<script>
        $(document).ready(function() {
            Materialize.updateTextFields();
        });
    </script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>