<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>Devents</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;Devent</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/accounts/profile" class="top">Profile</a></li>
                <li><a href="/accounts/sign_up_room" class="top">Sign up room</a></li>
                <li><a href="/main">Log out</a></li>
            </ul>
        </div>
    </nav>
     <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{image_path}}">
            </div>
            <div class="card-content">
              <h3>{{name}}&nbsp;{{lastname}}</h3>
                <h5> Your id - {{ID}}</h5>
            </div>
            <div class="card-action">
              <a href="/edit_profile">Edit profile</a>
            </div>
          </div>
        </div>
      </div>
    <table>
      <tr>
        <th>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey whiten-1">
                    <div class="card-content white-text">
                      <span class="card-title">Events</span>
                    </div>
                     <div class="collection">
                        {% for event in events%}
                            <a href="/accounts/event/{{event.id}}" class="collection-item">{{event}}</a>
                        {% endfor %}
                      </div>
                  </div>
                </div>
            </div>
        </th>
        <th>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey whiten-10">
                    <div class="card-content white-text">
                      <span class="card-title">Groups</span>
                    </div>
                    <div class="collection">
                        {% for group in groups%}
                            <a href="/accounts/room/{{group.id}}" class="collection-item">{{group}}</a>
                        {% endfor %}
                      </div>
                  </div>
                </div>
            </div>
        </th>
      </tr>
    </table>
    <script>
        $(".dropdown-button").dropdown();
    </script>
<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>