<!DOCTYPE html>
<head>
    <title>Devents</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
    <nav class="#1976d2 blue darken-4">
        <div class="nav-wrapper">
            <div class="brand-logo">&nbsp;&nbsp;&nbsp;Devent</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Войти</a></li>
                <li><a href="/sign_up">Регистрация</a></li>
            </ul>
        </div>
    </nav>
    <form method="post">
        {% csrf_token %}
        <p>&shy;&nbsp;&nbsp;</p>
        <div align="center">
            <div class="row">
                <div class="input-field col s6">
                  &nbsp;<input id="name" name="name" type="text" class="validate">
                  <label for="name">Имя</label>
                </div>
                <div class="input-field col s6">
                  &nbsp;<input id="lastname" name="lastname" type="text" class="validate">
                  <label for="lastname">Фамилия</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                  &nbsp;<input id="login" name="login" type="text" class="validate">
                  <label for="login">Логин</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                  &nbsp;<input id="Vk" name="VK" type="text" class="validate">
                  <label for="Vk">Ссылка на страницу в ВКонтакте</label>
                </div>
            </div>
            <div class="row" align="left">
                <span>&nbsp;&nbsp;<font color="#a9a9a9">Добавтесь в группу в <a href="https://vk.com/ok_devent">DEVENT</a> в ВК, это необходимо для отправки уведомлений.</font></span>
            </div>
            <div class="row">
                <div class="input-field col s6">
                  &nbsp;<input id="password" name="password" type="password" class="validate">
                  <label for="password">Пароль</label>
                </div>
                <div class="input-field col s6">
                  &nbsp;<input id="repassword" name="repassword" type="password" class="validate">
                  <label for="repassword">Повторите пароль</label>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;<button class="waves-effect waves-light btn green" type="submit">Далее</button>
        <h4><font color="red">{{error}}</font></h4>
    </form>
<script>
        $(document).ready(function() {
            Materialize.updateTextFields();
        });
    </script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
