<!DOCTYPE html>
<head>
    <title>Devents</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
    <nav class="#0277bd light-blue darken-2">
        <div class="nav-wrapper">
            <div class="brand-logo center">&nbsp;&nbsp;&nbsp;Devent</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>
    <table>
    <tr>
        <th>
            <form method="post">
                {% csrf_token %}
                <p>&shy;&nbsp;&nbsp;</p>
                <div align="center">
                    <div class="row">
                        <div class="input-field col s6">
                          &nbsp;<input id="name" name="name" type="text" class="validate check">
                          <label for="name">Имя</label>
                        </div>
                        <div class="input-field col s6">
                          &nbsp;<input id="lastname" name="lastname" type="text" class="validate check">
                          <label for="lastname">Фамилия</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                          &nbsp;<input id="login" name="login" type="text" class="validate check">
                          <label for="login">Логин</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                          &nbsp;<input id="Vk" name="VK" type="text" class="validate check">
                          <label for="Vk">Ссылка на страницу в ВКонтакте</label>
                        </div>
                    </div>
                    <div class="row" align="left">
                        <span>&nbsp;&nbsp;<font color="#a9a9a9">Добавтесь в группу в <a href="https://vk.com/ok_devent">DEVENT</a> в ВК, это необходимо для отправки уведомлений.</font></span>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                          &nbsp;<input id="password" name="password" type="password" class="validate check">
                          <label for="password">Пароль</label>
                        </div>
                        <div class="input-field col s6">
                          &nbsp;<input id="repassword" name="repassword" type="password" class="validate check">
                          <label for="repassword">Повторите пароль</label>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;<button id="sub" class="waves-effect waves-light btn green" disabled="disabled" type="submit">Завершить регистрацию</button>
                <h4><font color="red">{{error}}</font></h4>
            </form>
        </th>
        <th>
            <div class="card card-small" id="err" style="visibility: hidden">
                <div class="card-content">
                    <div class="row" id="er" style="visibility: hidden" align="left">
                        &nbsp;&nbsp;&nbsp;<span><font color="red">Пароли не совпадают</font></span>
                    </div>
                    <div class="row" id="er1" style="visibility: hidden" align="left">
                        &nbsp;&nbsp;&nbsp;<span><font color="red">Заполните все обязательные поля</font></span>
                    </div>
                </div>
            </div>
        </th>
    </tr>
    </table>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $('.check').on("input", function () {
            var $this = $(this);
            var first_name = document.getElementById("name").value;
            var last_name = document.getElementById("lastname").value;
            var login = document.getElementById("login").value;
            var password = $.md5(document.getElementById("password").value);
            var repassword = $.md5(document.getElementById("repassword").value);
            if (password !== "" && first_name !== "" && last_name !== "" && login !== "")
            {
                if (password === repassword) {
                    $('#sub').attr("disabled", false);
                    er.style.visibility = "hidden";
                    er1.style.visibility = "hidden";
                    err.style.visibility = "hidden";
                }
                else
                {
                    $('#sub').attr("disabled", true);
                    er.style.visibility = "";
                    er1.style.visibility = "hidden";
                    err.style.visibility = "";
                }
            }
            else
            {
                $('#sub').attr("disabled", true);
                er.style.visibility = "hidden";
                er1.style.visibility = "";
                err.style.visibility = "";
            }
        })
    </script>
<script>
        $(document).ready(function() {
            Materialize.updateTextFields();
        });
    </script>
    <!--Import jQuery before materialize.js-->
</body>
